<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025 MageSetu. All rights reserved.
 *
 * @package    MageSetu_Common
 * @author     MageSetu
 * @copyright  Copyright (c) 2025 MageSetu
 * @license    https://www.apache.org/licenses/LICENSE-2.0  Apache License 2.0
 * @link       https://github.com/MageSetu/Common
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <!-- Preferences -->
    <preference
        for="MageSetu\Common\Api\ConfigScopeResolverInterface"
        type="MageSetu\Common\Model\ConfigScopeResolver" />
    <preference
        for="MageSetu\Common\Api\HttpClientInterface"
        type="MageSetu\Common\Http\HttpClient" />

</config>